<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css"> 
</head>

<body>

    <div class="container-fluid">
        <div class="row navbar">
            <nav>
                <h2 class=heading>Car Price Predictive Analysis</h2>
            </nav>
        </div>
        <div class="row">
            <form action="{{ url_for('predict')}}" method="post">
                <div class="row ml" style="margin: auto;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h3>Enter The Car Model</h3>
                        <input id="first" name="Year" type="number ">
                    </div>
                    <div class="col-md-4">
                        <h3>Showroom Price  [In lac]</h3>
                         <input id="second" name="Present_Price" required="required">
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row ml" style="margin: auto;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h3>No. of KM Driven</h3>
                        <input id="third" name="Kms_Driven" required="required">
                       </div>
                       <div class="col-md-4">
                        <h3>Number of  Owners [0,1,3]</h3>
                        <input id="fourth" name="Owner" required="required">
                       </div>
                       <div class="col-md-2"></div>
                </div>
                <div class="row ml" style="margin: auto;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h3>Fuel type</h3>
                        <select name="Fuel_Type_Petrol" id="fuel" required="required">
                            <option value="Petrol">Petrol</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Diesel">CNG</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <h3>Transmission type</h3>
                        <select name="Transmission_Mannual" id="research" required="required">
                            <option value="Mannual">Manual Car</option>
                            <option value="Automatic">Automatic Car</option>
                        </select>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row ml">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h3>Dealer or Individual</h3>
                        <select name="Seller_Type_Individual" id="resea" required="required">
                            <option value="Dealer">Dealer</option>
                            <option value="Individual">Individual</option>
                        </select>
                    </div>

                </div>
                <div class="row ml" style="margin:auto; padding: 10px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button id="sub" type="submit ">Calculate the Selling Price</button>

                        <h3>{{ prediction_text }}</h3>
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </form>

        </div>

        <div class="row footer">
        <span>Raju Puttaswamaiah@2020</span>  
        </div>

    </div>
</body>

</html>
